<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.logindemo.infra.mapper.RoleMapper">

    <!-- 查询所有角色 -->
    <select id="selectAll" resultType="com.example.logindemo.infra.po.RolePO">
        SELECT id, code
        FROM role
    </select>

    <!-- 根据角色ID列表查询角色 -->
    <select id="selectByIds" resultType="com.example.logindemo.infra.po.RolePO">
        SELECT id, code
        FROM role
        WHERE id IN
        <foreach collection="roleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 新增角色 -->
    <insert id="insert" parameterType="com.example.logindemo.infra.po.RolePO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role (code)
        VALUES (#{code})
    </insert>

    <!-- 根据角色ID查询 -->
    <select id="selectById" resultType="com.example.logindemo.infra.po.RolePO">
        SELECT id, code
        FROM role
        WHERE id = #{roleId}
    </select>

</mapper>
